// app global css in SCSS form
.main_header {
  padding: 0 20px;
}

.container {
  padding: 0 50px;
}

.section_simulator {
  background-image: url('/img/background.png');
  margin-top: 50px;
  padding-top: 70px !important;
  padding-bottom: 100px !important;
  background-size: cover;
  background-repeat: no-repeat;
  height: 815px;
}

.advantages li {
  height: 70px;
}

.card_simulator {
  border-radius: 25px;
  background-color: #eaf5ff;
}

.section_steps {
  // margin-top: 50px;
  padding-top: 90px !important;
  padding-bottom: 90px !important;
  background-image: url('/img/blue_background.png');
  background-size: cover;
  position: static;
  margin-top: -88px;
  background-repeat: no-repeat;
}

.footer {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}

.footer ul {
  list-style: none;
  padding: 0 !important;
}

.paddig_button {
  padding: 13px 78px !important;
}

// Responsive
@media (max-width: $breakpoint-sm-min) {
  .section_steps {
    margin-top: -110px !important;
    padding-bottom: 40px !important;
  }
}

@media (max-width: $breakpoint-sm-max) {
  .container {
    padding: 0 20px !important;
  }

  .section_steps {
    margin-top: -20px;
    padding-bottom: 40px !important;
  }

  .paddig_button {
    padding: 12px 20px !important;
  }

  .advantages li {
    height: auto;
  }

  .section_simulator {
    height: auto !important;
  }

  .footer {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }

  // .container {
  //   padding: 0 120px !important;
  // }
}

@media (min-width: $breakpoint-lg-min) {
  .main_header {
    padding: 0 70px !important;
  }
}
